parameters:
	level: 6

	paths:
		- src
		- tests/types

	excludePaths:
		- src/Bridges/FormsLatte/FormMacros.php
		- src/compatibility.php

	checkMissingCallableSignature: true

includes:
	- phpstan-baseline.neon
